.favourite-categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    //  width: 100%;
    width: calc(100vw - 222px);
    max-height: 3940px;
    margin-left: 16px;
    margin-right: 50px;
    // border: 1px solid green;
}

/* section row: */
.all-video-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    width: calc(100vw - 222px);
    // width: 1632px;
    //height: 460px;
    margin-top: 24px;
    height: fit-content;
    margin-left: 16px;
    // margin-right: 50px;
    padding-left: 16px;
    // padding-right: 50px;
    //border: 1px solid rgb(63, 223, 48);
    background-color: transparent;
}

.titles-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 1;
    width: 1632px;
    margin-bottom: 16px;
    // border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}

.section-title {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    width: fit-content;
    // border: 1px solid rgb(21, 223, 14);
    background-color: transparent;
}

.section-title svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    // border: 1px solid rgb(190, 17, 17);
}

.section-title svg:hover {
    transform: scale(1.1);
}

.section-title h2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 6px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    color: var(--theme-font-secondary, #CECED6);
    // border: 1px solid rgb(12, 231, 220);
}

.section-title h2:hover {
    color: var(--theme-font-primary, #FFFFFF);
}

.section-title img:hover {
    color: var(--theme-font-primary, #FFFFFF);
}

/* show-all-gray-link */
.show-all-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    max-width: fit-content;
    padding-top: 6px;
    // color: var(--theme-font-secondary, #CECED6);
    // border: 1px solid rgb(12, 231, 220);
}

.show-all-categories a {
    color: var(--theme-font-secondary, #CECED6);
}

.show-all-categories a:hover {
    color: var(--theme-font-primary, #FFFFFF);
}

.show-all-categories svg {
    color: var(--theme-font-secondary, #CECED6);
}

.arrowed a svg {
    font-size: 14px;
    line-height: 140%;
    color: var(--theme-font-secondary, #CECED6);
}

.show-all-categories .show-all-arrow {
    width: 24px;
    height: 24px;
    margin-top: 6px;
    margin-left: 6px;
    align-items: baseline;
    color: var(--theme-font-secondary, #CECED6);
}

/* end of the show-all-orange-link */


/* channels-row:*/
.channels-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 20px;
    width: 100%;
    //max-width: 1612px;
    // max-width: 1630px;
    height: 300px;
    // margin-right: 10px;
    padding: 0;
    // border: 1px solid rgb(197, 10, 214);
    background-color: transparent;
}

/* end of the channels-row */

/* one channel-card: */
.channel-card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 310px;
    background-color: transparent;
    // height: 300px;
    // border: 1px solid red;
}

.card-img-top {
    max-width: 100%;
    height: 180px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 9px;
    // cursor: pointer;
}

.card-body {
    // add a button with a description at the bottom of the card
    // (displayed strangely in Mozilla)
    // position: sticky;
    // bottom: 2px;
    // left: 100%;
    // transform: translatex(2px);
    // cursor: pointer;
    padding: 0;
}

.stream-info-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 308px;
    height: 48px;
    padding: 0;
    margin: 0;
}

.channel-img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 2px;
    padding: 0;
}

// .channel-img:hover {
//  border: 1px solid var(--theme-font-primary, #FFFFFF);
//  border-radius: 40px;
// }

.stream-titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 4px;
    // min-height: 60px;
    // border: 1px solid rgb(59, 218, 130);
}

.stream-titles h5 {
    font-size: 14px;
    font-weight: bold;
    color: var(--theme-font-secondary, #CECED6);
    padding: 0;
    margin: 0;
    line-height: 120%;
    letter-spacing: 0%;
    font-size: 14px;
    // border: 1px solid rgb(59, 218, 130);
}

.stream-titles h5:hover {
    color: var(--theme-font-primary, #FFFFFF);
}

.stream-titles p {
    font-size: 14px;
    font-weight: lighter;
    // color: var(--theme-font-tertiary, rgba(170, 168, 181, 0.7));
    color: var(--theme-font-secondary, #CECED6);
    // padding: 0;
    margin: 0;
    // margin-bottom: 10px;
    // border: 1px solid rgb(172, 230, 16);
}

// .stream-titles p:hover {
//     color: var(--theme-font-secondary, #CECED6);
// }

.channel-title {
    margin: 0;
    margin-top: auto;
    font-size: 14px;
}

.category-name-info {
    font-size: 14px;
    font-weight: lighter;
    color: var(--theme-accent-bg, #FF6F3A);
    // color: var(--theme-font-tertiary, rgba(170, 168, 181, 0.7));
    padding-left: 2px;
    margin: 10px 0 6px;
    // border: 1px solid blue;
}

.category-name-info:hover {
    color: var(--theme-accent-hover, #E2552D);
}

.tags-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    max-width: 310px;
    // height: 20px;
    padding-left: 2px;
    margin-bottom: 2px;
    //border: 1px solid rgb(29, 10, 197);
}

.tags-row button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 68px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 4px 8px;
    color: black;
    font-size: 12px;
    text-align: center;
}

.button-tag {
    background-color: var(--theme-tag-button-bg, rgba(170, 168, 181, 0.7));
    //border: 1px solid rgb(175, 36, 202);
}

.button-tag:hover {
    background-color: var(--theme-tag-button-bg-hover, #CECED6);
}

/* end of the one channel-card */


.show-all-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 1636px;
    height: 62px;
    // border: 1px solid rgb(184, 2, 2);
    background-color: transparent;
    color: var(--theme-font-secondary, #CECED6);
}

.show-all-link .show-all-arrow {
    width: 24px;
    height: 24px;
    margin-top: 6px;
    margin-left: 0;
    align-items: baseline;
    color: var(--theme-font-secondary, #CECED6);
}

.divider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    // border: 1px solid red;
    margin-bottom: 22px;
}

.divider-line {
    flex: 1;
    height: 1px;
    background: var(--theme-font-secondary, #CECED6);
    border-radius: 1px;
}

.divider-button {
    margin: 0 15px;
    // padding: 10px 6px 10px 10px;
    color: var(--theme-font-secondary, #CECED6);
    cursor: pointer;
    width: fit-content;
    height: 34px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 34px;
    border: none;
    background-color: transparent;
}

.divider-button a:hover {
    color: var(--theme-font-primary, #FFFFFF);
    cursor: pointer;
}

.divider-button:hover {
    color: var(--theme-font-primary, #FFFFFF);
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #CECED6;
    border-radius: 34px;
}

/* end of the section row: */


/* stream-labels: */
.stream-labels {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    height: 180px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.stream-live {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: rgba(52, 49, 72, 0.6);
    color: #CECED6;
    visibility: hidden;
}

.stream-live h6 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    color: #CECED6;
    font-size: 12px;
    margin: auto;
    visibility: hidden;
}

.stream-live span {
    color: #E2552D;
    font-size: 6px;
    vertical-align: center;
    margin-right: 6px;
    visibility: hidden;
}

.stream-age-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(52, 49, 72, 0.6);
    color: #CECED6;
    font-size: 12px;
}

.label-age-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #CECED6;
    font-size: 12px;
    text-align: center;
}

/* styles of wrapper links: */
a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.link-wrapper {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
}

.link-wrapper:focus {
    outline: 1px solid var(--theme-font-primary, #FFFFFF);
    //outline: none;
    outline-offset: 1px;
    border-radius: 5px;
}

/* end of the stream-labels */