.favoutite-channels-titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1623px;
    margin-left: 30px;
    margin-right: 50px;
    // border: 1px solid orange;
}

.favoutite-channels-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: fit-content;
    // height: 60px;
    // border: 1px solid orange;
}

.favoutite-channels-title h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 32px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-accent-light, #FF6F3A);
}

.favoutite-channels-title h2:hover {
    color: var(--color-accent-dark, #E2552D);
}

/* show-all-orange-link */
.favoutite-channels-show-all {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 126px;
    // height: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 34px;
    // border: 1px solid orange;
    color: var(--color-accent-light, #FF6F3A);
}

.favoutite-channels-show-all a {
    color: var(--color-accent-light, #FF6F3A);
}

.favoutite-channels-show-all a:hover {
    color: var(--color-accent-dark, #E2552D);
}

.horizontal-titles .show-all-arrow {
    width: 24px;
    height: 24px;
    color: var(--color-accent-light, #FF6F3A);
}

/* end of the show-all-orange-link */

.favourite-channels-blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16.5px;
    flex-shrink: 0;
    width: 1623px;
    height: 200px;
    // border: 1px solid rgb(0, 136, 106);
    margin-left: 30px;
    margin-right: 50px;
    border-radius: 5px;
}

.favorite-category {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 148px;
    height: 148px;
    border-radius: 5px;
    font-size: 22px;
    background-image: url("../img/Category1_edu.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.favorite-category h4 {
    color: var(--color-font-gray-light, #CECED6);
    font-weight: 400;
}

.favorite-category h4:hover {
    color: var(--color-font-gray-dark, rgba(170, 168, 181, 0.7));
    cursor: pointer;
}

/* channels: */
.favorite-channels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex: 1;
    // overflow-y: auto;
    width: 310px;
    height: 148px;
    // border: 1px solid lime;
    margin: 0;
    background-color: var(--color-background-dark, #16122F);
    border-radius: 5px;
}

.favorite-channels ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 148px;
}

.favorite-channels li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--color-font-white-light, #FFFFFF);
    width: 100%;
    height: 40px;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.favorite-channels li:hover {
    background-color: var(--color-dark-blocks-hover, #2e2b50);
}

.favorite-channels a {
    align-items: center;
    color: var(--color-font-white-light, #FFFFFF);
    text-decoration: none;
}

.favorite-channels a:hover {
    align-items: center;
    // color: var(--color-font-white-light, #FFFFFF);
    color: var(--color-font-gray-dark, rgba(170, 168, 181, 0.7));
    text-decoration: none;
}

.favorite-channels button {
    width: 216px;
    height: 41px;
    margin: 3px 3px auto 3px;
    border: none;
}

/* one channel: */
.favorite-channel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 310px;
    height: 40px;
}

.favorite-channel-ava img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    margin-left: 36px;
}

.favorite-channel:hover {
    background-color: var(--color-dark-blocks-hover, #2e2b50);
    cursor: pointer;
}

.stream-live-indicator {
    position: absolute;
    top: -4px;
    left: 80px;
    margin-right: 14px;
}

.favorite-channel-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 220px;
}

.favorite-channel-info .favorite-channel-title {
    color: var(--color-font-white-light, #FFFFFF);
    font-size: 16px;
    margin: 0;
}

.favorite-channel-info .category-name {
    color: var(--color-font-gray-dark, rgba(170, 168, 181, 0.7));
    font-size: 14px;
    font-weight: 100;
}

/* end of the one channel */