.horizontal-menu-row {
    position: relative;
    z-index: 5;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    width: calc(100vw - 252px);
    height: fit-content;
    // border: 1px solid rgb(2, 175, 16);
    margin-left: 30px;
    margin-bottom: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.horizontal-menu {
    max-width: fit-content;
    color: var(--theme-font-primary, #FFFFFF);
    display: inline-block;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    // border: 1px solid magenta;
}

.horizontal-menu ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    // border: 1px solid rgb(197, 89, 0);
}

.horizontal-menu li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: var(--theme-btn-bg, #16122F);
    color: var(--theme-font-primary, #FFFFFF);
}

.horizontal-menu li:hover {
    background-color: var(--theme-btns-hover, rgba(17, 9, 80, 0.5));
    color: var(--theme-font-secondary, #CECED6);
}

.horizontal-menu li.h-menu-btn-active {
    background-color: var(--theme-active-btn-bg, #000000);
    color: white;
}

.horizontal-menu li:first-child {
    border: none;
    font-weight: bold;
    background-color: var(--theme-accent-bg, #FF6F3A);
}

.horizontal-menu li:first-child:hover {
    // transform: scale(1.05);
    background-color: var(--theme-accent-hover, #E2552D);
}

.horizontal-menu a {
    color: var(--theme-font-primary, #FFFFFF);
    display: block;
    transition: color 0.3s ease;
}

.horizontal-menu li:hover a {
    color: var(--theme-font-secondary, #CECED6);
}

.horizontal-menu-first-button {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    width: 64px !important;
    height: 40px !important;
}

.horizontal-menu-first-button a{
    color: white; // цвет не меняется при смене темы
}

.horizontal-menu-first-button img {
    width: 11px;
    height: 11px;
    margin-right: 2px;
}

.horizontal-menu-scroll {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    left: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    background: var(--theme-button-scroll-bg, #54506B);
    border: none;
    // border: 1px solid var(--theme-font-secondary, #CECED6);
    text-align: center;
    cursor: pointer;
    z-index: 10;
    transition: background 0.3s ease;
}

.horizontal-menu-scroll-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: var(--theme-font-primary, #FFFFFF);
    vertical-align: middle;
    text-align: center;
    right: -15px;
}

.horizontal-menu-scroll:hover {
    background-color: var(--theme-button-scroll-hover, #16122F);
    border: 1px solid var(--theme-font-primary, #FFFFFF);
}

@media (max-width: 1280px) {

    .horizontal-menu ul {
        gap: 10px;
    }
}

@media (max-width: 768px) {

    .horizontal-menu ul {
        gap: 6px;
    }
}