/* horizontal menu: */
.horizontal-menu {
    position: relative;
    z-index: 5;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    /* width: 100%; */
    width: calc(100vw - 252px);
    height: 40px;
    /* border: 1px solid pink; */
    margin-left: 30px;
    margin-bottom: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.hMenu {
    max-width: 1698px;
    color: var(--theme-font-light, #ffffff);
    display: inline-block;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* border: 1px solid magenta; */
}

.hMenu ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    /* border: 1px solid rgb(194, 104, 31); */
}

.hMenu li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: var(--theme-btn-background-color, #16122F);
    color: var(--theme-font-light, #ffffff);
}

.hMenu li:hover {
    background-color: var(--color-dark-buttons-hover, rgba(17, 9, 80, 0.5));
    color: var(--theme-font-medium, #CECED6);
}

.hMenu li.h-menu-btn-active {
    background-color: black;
    color:  white;
}

.hMenu li:first-child {
    border: none;
    // font-weight: bold;
    background-color: var(--theme-accent, #FF6F3A);
}

.hMenu li:first-child:hover {
    // transform: scale(1.05);
    background-color: var(--theme-accent-hover, #E2552D);
}

.hMenu a {
    color: var(--theme-font-light, #ffffff);
    display: block;
    transition: color 0.3s ease;
}

.hMenu li:hover a {
    color: var(--theme-font-medium, #CECED6);
}

.h-menu-first-button {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    width: 64px !important;
    height: 40px !important;
}

.h-menu-scroll {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    left: 94%;
    //transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // visibility: hidden;
    line-height: 40px; // matches the height of the button
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 5px;
    background: var(--color-dark-button-scroll, #54506B);
    color: var(--theme-font-light, #ffffff);
    border: none;
    text-align: center;
    cursor: pointer;
    z-index: 10;
    transition: background 0.3s ease;
}

.h-menu-scroll-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    color: var(--theme-font-light, #ffffff);
    vertical-align: middle;
    text-align: center;
    right: -15px;
}

.h-menu-scroll:hover {
    background-color: var(--color-background-dark, #16122F);
    border: 1px solid var(--theme-font-transparent, rgba(170, 168, 181, 0.7));
}

@media (max-width: 768px) {
    .h-menu-scroll {
        display: none;
    }
}

/* end of the horizontal menu */