:root {
        $font-open-sans-sass: "Open Sans", sans-serif;
        $font-source-code-sass: "Source Code Pro", monospace;
        $font-silkscreen-sass: "Silkscreen", sans-serif;
        $font-press-start-sass: "Press Start 2P", system-ui;
        $font-ibm-plex-sass: "IBM Plex Mono", monospace;

        $color-background-light-sass: #343148;
        $color-background-dark-sass: #16122F;
        $color-background-accent-sass: #000000;
        $color-background-input-sass: #1C173C;
        $color-background-promo-sass: #292640;
        $color-accent-light-sass: #FF6F3A;
        $color-accent-dark-sass: #E2552D;
        $color-font-white-light-sass: #FFFFFF;
        $color-font-white-dark-sass: #FDFDFF;
        $color-font-gray-light-sass: #CECED6;
        $color-font-gray-dark-sass: rgba(170,168,181,0.7);
        $color-dark-button-scroll-sass: #54506B;
        $color-dark-transparent-banner-button-sass: rgba(52, 49, 72, 0.2);
        $color-dark-buttons-hover-sass: rgba(17, 9, 80, 0.5);
        $color-dark-blocks-hover-sass:  #2e2b50;

    // --font-silkscreen: "Silkscreen", sans-serif;
    // --font-press-start: "Press Start 2P", system-ui;
    // --font-ibm-plex: "IBM Plex Mono", monospace;

    // theme vars
    //--theme-main-bg: #343148;       --color-background-light #343148;    ->  --primary-color-background-1:
    //--theme-btn-bg: #16122F;        --color-background-dark #16122F;     ->  --primary-color-background-2: 
    //--theme-input-bg: #1C173C;     --color-background-input  #1C173C;   ->  --secondary-color-background-input: 
    //--theme-accent-bg: #000000;     --color-background-accent #000000;   ->  --secondary-color-background: 
    //--theme-promo-bg: #292640;      --color-background-promo  #292640;   ->  --secondary-color-background-promo: 


    // --theme-tag-button-bg:                            // --color-background-promo #292640;    ->  --secondary-color-background-promo: 
    // --theme-tag-button-bg-hover: #FFFFFF;             // --color-background-promo #292640;    ->  --secondary-color-background-promo: 

    // --theme-btns-hover: rgba(17, 9, 80, 0.5);         // --color-dark-buttons-hover #16122F;  ->  --primary-color-buttons-hover: 
    // --theme-blocks-hover: #2e2b50;                    // --color-dark-blocks-hover  #2e2b50;  ->  --primary-color-blocks-hover:

    // --theme-accent-color: #FF6F3A;                    // --color-accent-light #FF6F3A;        ->  --accent-color-1: 
    // --theme-accent-color-hover: #E2552D;              // --color-accent-dark #E2552D;         ->  --accent-color-2: 

      
    // --theme-buttons-hover: rgba(17, 9, 80, 0.5);              // --color-dark-buttons-hover: rgba(17, 9, 80, 0.5);              -> --primary-color-buttons-hover
    // --theme-blocks-hover: #2e2b50;                            // --color-dark-blocks-hover: #2e2b50;                            -> --primary-color-blocks-hover
                                                
    // --theme-button-scroll-hover: #54506B;                     // --color-dark-button-scroll-hover: #54506B;                     ->  --primary-color-background-2-hover:
    // --theme-transparent-banner-button: rgba(52, 49, 72, 0.2); // --color-dark-transparent-banner-button: rgba(52, 49, 72, 0.2); ->  --transparent-banner-button: 

    // --theme-font-white-1: #FFFFFF;                            // --color-font-white-light: #FFFFFF;                             ->  --font-color-1: 
    // --theme-font-white-2: #FDFDFF;                            // --color-font-white-dark: #FDFDFF;                              ->  --font-color-2:

    // --theme-font-gray-1:  #CECED6;                            // --color-font-gray-light: #CECED6;                              ->  --font-color-3: 
    // --theme-font-gray-2:  rgba(170, 168, 181, 0.7);           // --color-font-gray-dark: rgba(170, 168, 181, 0.7);              ->  --font-color-4: 



    // MY TODO: add variables for colors of active buttons

    // MY TODO: rename light -> to universal:
    // --primary-color-background-1: #cecece;
    // --primary-color-background-2: #a1a1a1;

    // --secondary-color-background-accent: #5e5e5e;
    // --secondary-color-background-input: #b8b8b8;
    // --secondary-color-background-promo: #979797;

    // --accent-color-1: #FF6F3A;
    // --accent-color-2: #E2552D; 

    // --color-dark-buttons-hover: rgba(194, 194, 194, 0.5);
    // --color-dark-blocks-hover: #4d4d4d;
    // --color-dark-button-scroll-hover: #808080;
    // --color-dark-transparent-banner-button: rgba(136, 136, 136, 0.2);

    // --color-font-white-light: #FFFFFF;
    // --color-font-white-dark: #FDFDFF;
    // --color-font-gray-light: #CECED6;
    // --color-font-gray-dark: rgba(170, 168, 181, 0.7);
}