:root {
    // fonts:
    --font-open-sans: "Open Sans", sans-serif;
    --font-source-code: "Source Code Pro", monospace;
    --font-silkscreen: "Silkscreen", sans-serif;
    --font-press-start: "Press Start 2P", system-ui;
    --font-ibm-plex: "IBM Plex Mono", monospace;

    //  background variables:
    --theme-main-bg: #343148;                                   //--color-background-light #343148;  
    --theme-promo-bg: #292640;                                  //--color-background-promo  #292640;  
    --theme-input-bg: #1C173C;                                  //--color-background-input  #1C173C;     
    --theme-btn-bg: #16122F;                                    //--color-background-dark #16122F;    
    --theme-button-scroll-bg: #54506B;                          //--color-dark-button-scroll-hover: #54506B;
    --theme-active-btn-bg: #000000;                             //--color-background-accent #000000;
    --theme-transparent-banner-btn-bg: rgba(52, 49, 72, 0.2);   //--color-dark-transparent-banner-button: rgba(52, 49, 72, 0.2);  
    --theme-tag-button-bg: rgba(170, 168, 181, 0.7);            //--theme-font-medium, #CECED6
    --theme-accent-bg: #FF6F3A;                                 //--color-accent-light #FF6F3A;   

    // hovers:
    --theme-btns-hover: rgba(17, 9, 80, 0.5);                   //--color-dark-buttons-hover #16122F;                    
    --theme-blocks-hover: #2e2b50;                              //--color-dark-blocks-hover  #2e2b50;  
    --theme-button-scroll-hover: #16122F;                       //--color-dark-button-scroll-hover: #54506B;
    --theme-tag-button-bg-hover: #CECED6;                       //--theme-font-primary, #FFFFFF 
    --theme-accent-hover: #E2552D;                              //--color-accent-dark #E2552D;

    // fonts colors:
    --theme-font-logo: #FFFFFF;
    --theme-font-primary: #FFFFFF;                             //--color-font-white-light: #FFFFFF;                         
    --theme-font-secondary: #CECED6;                           //--color-font-gray-light: #CECED6; 
    --theme-font-tertiary: rgba(170, 168, 181, 0.7);           //--color-font-gray-dark: rgba(170, 168, 181, 0.7);

    // background images: 
    --theme-category-bg-image: url('../img/category-bg-dark.jpg');
    --theme-category-bg-image-tint: rgba(7, 1, 41, 0.5);
    --theme-channel-bg-image: url('../img/channel-bg-dark.jpg');
    --theme-channel-bg-image-tint: rgba(7, 1, 41, 0.5);
}