.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 100px;
    margin: 0 auto;
    padding: 0 50px;
}

/*-------------------------------------------------------------*/
/* search: */
#searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 428px;
    height: 40px;
    height: auto;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 428px;
    height: 40px;
    height: auto;
}

.input-with-icon {
    width: 368px;
    height: 40px;
    border: none;
    outline: none;
    margin-right: 20px;
    background-image: url('../img/search-icon-dark.svg');
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 24px 24px;
    padding-left: 40px;
    border-radius: 40px;
    background-color: var(--theme-input-bg, #1C173C);
    color: var(--color-font-white-light, #ffffff);
    font-size: 16px;
    line-height: 140%;
}

.input-with-icon::placeholder {
    color: var(--theme-font-secondary, #CECED6);
}

.input-with-icon:hover {
    background-color: var(--color-dark-buttons-hover, rgba(17, 9, 80, 0.5));
    color: var(--color-font-white-light, #ffffff);
}

.notification-round-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.notification-round-button:hover {
    transform: scale(1.1);
}

.button-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/*-------------------------------------------------------------*/
/* logo: */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1040px;
    height: 122px;
    text-align: center;
}

.logo-img {
    width: 120px;
    height: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    filter:
        var(--theme-logo-glow);
    animation: glow 6s infinite ease-in-out;
}

.logo-img:hover {
    width: 120px;
    height: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    filter:
        var(--theme-logo-glow-hover);
    animation: glow 6s infinite ease-in-out;
}

/* 
 .logo-img {
  /* Сепия */
/*filter: sepia(7);
}   */

/* .logo-img { 
  /* Комбинированный эффект: сепия + затемнение */
/* filter: sepia(0.8) brightness(0.9);
} */

/* @keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 10px rgba(255, 254, 208, 0.5));
    }

    50% {
        filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8));
    }

    100% {
        filter: drop-shadow(0px 0px 10px rgba(255, 254, 208, 0.5));
    }
} */

.logo-text {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 42px;
    color: var(--theme-font-logo, #ffffff);
    font-size: 32px;
    line-height: 32px;
    font-weight: 800;
    letter-spacing: 4px;
    vertical-align: middle;
    font-family: "Source Code Pro", monospace;
    /* font-family: "Silkscreen", sans-serif;  */
    /* font-family: "Press Start 2P", system-ui;   */
    /* font-family: "IBM Plex Mono", monospace; */
}

/*---------------------------------------------------------------*/
/* menu*/
.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;
    height: 60px;
    width: 348px;
}

.menu-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border: 1px solid var(--theme-btn-bg, #16122F);
    border-radius: 34px;
    background-color: var(--theme-btn-bg, #16122F);
    color: var(--color-font-white-light, #ffffff);
    font-size: 1rem;
    cursor: pointer;
}

.menu-button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 34px;
    background-color: var(--color-dark-buttons-hover, rgba(17, 9, 80, 0.5));
    color: var(--color-font-white-light, #ffffff);
    font-size: 16px;
    cursor: pointer;
}

.menu-button img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
}

.login {
    width: 60px;
    height: 60px;
}

.login-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border: 1px solid var(--theme-btn-bg, #16122F);
    border-radius: 60px;
    background-color: var(--theme-btn-bg, #16122F);
    color: var(--color-font-white-light, #ffffff);
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    box-shadow: -1px 1px 36px 8px rgba(94, 84, 158, 0.51);
    -webkit-box-shadow: -1px 1px 36px 8px rgba(94, 84, 158, 0.51);
    -moz-box-shadow: -1px 1px 36px 8px rgba(94, 84, 158, 0.51);
    cursor: pointer;
}

.login-button img {
    width: 60px;
    height: 60px;
    border-radius: 60px;
}

/*---------------------------------------------------------------*/