html,
body {
    height: 100%;
    margin: 0;
    flex-shrink: 0;
    /* background-image: url("../img/auth_background_2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}

/* body {
    display: flex;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    max-height: 5400px;

    /* Окончательный цвет:*/
    /* background-color: #343148; */
    /* Временно (для контраста): */
    /* background-color: #1C173C;
    font-family: "Source Code Pro", monospace; */
    /* font-family: "Silkscreen", sans-serif;
    /* font-family: "Press Start 2P", system-ui;
    /* font-family: "IBM Plex Mono", monospace; */

    /* To hide horizontal scrolling for the entire page: */
    /* overflow-x: hidden; */
/* }  */

/*-------------------------------------------------------------*/

/* header {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 122px;
    /* border: 1px solid rgb(76, 255, 21); */
    /* background-color: #343148; */
    /* background-color: rgba(192, 191, 196, 0.3); */
/*} */

/*-------------------------------------------------------------*/
/* Если без scss, то файл будет очень большим, без импортов стилей компонентов:*/
/* header */
/* header {
    position: fixed;
    z-index: 6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 122px;
    border: 1px solid lime;
    margin: 0 auto;

    background-color: #343148;
}

header .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    max-width: 1920px;
    height: 122px;
    border: 1px solid red;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
} */


.site-header {
    display: flex;
    justify-content: space-between;
    /* Прижимает крайние блоки к краям */
    align-items: center;
    /* Выравнивает элементы по вертикали */

    width: 100%;
    max-width: 1920px;
    height: 122px;
    margin: 0 auto;
    padding: 0 50px;
    /* border: 1px solid red; */
    background-color: #343148;
}

/*-------------------------------------------------------------*/
/* search: */
.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: fit-content;
    max-width: 428px;
    height: 40px;
    height: auto;
    /* border: 1px solid green; */
}

 input[type="search"]::-webkit-search-decoration,
 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-results-button,
 input[type="search"]::-webkit-search-results-decoration {
   -webkit-appearance: none;
 }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.input-with-icon {
    width: 368px;
    height: 40px;
    border: none;
    outline: none;

    margin-right: 20px;

    background-image: url('../img/search-icon.svg');
    background-repeat: no-repeat;
    /* Позиция иконки: */
    background-position: 10px center;
    /* Размер иконки: */
    background-size: 24px 24px;
    /* Место для иконки, чтобы текст не накладывался:*/
    padding-left: 40px;

    border-radius: 40px;
    background-color: #1C173C;
    color: #ffffff;
    font-size: 16px;
    line-height: 140%;
}

.input-with-icon::placeholder {
    color: rgba(206, 206, 214, 100);
}

.input-with-icon:hover {
    border: 1px solid orangered;
    background-color: #484369;
    color: white;
}

/* MY TODO: fix shifting the button when hovering over it when use tag button*/
/* .notification-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border: 1px solid green;
    padding: 0;
    border-radius: 50%;
}

/* .notification-button:hover {
    border: 3px solid #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}  */

.notification-round-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4CAF50;
    /* Делает кнопку круглой: */
    border-radius: 50%;

    text-decoration: none;
    cursor: pointer;
    /* Плавный переход для всех свойств: */
    transition: all 0.3s ease;
}

.notification-round-button:hover {
    transform: scale(1.1);
}

.button-icon {
    width: 40px;
    height: 40px;
    /* Сохраняет пропорции изображения: */
    object-fit: contain;
}

/*-------------------------------------------------------------*/
/* logo: */
/* MY TODO: center the logo in the center of the screen */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 16px; */
    width: 100%;
    max-width: 1040px;
    height: 122px;

    /* padding-left: 418px;
    padding-right: 504px; */

    /* border: 1px solid magenta; */
    /* Центрирует строчные и inline‑block элементы: */
    text-align: center;
}

.logo-img {
    width: 120px;
    height: 40px;
    padding-bottom: 0;
    margin-bottom: 0;
    /* border: 1px solid yellow; */
    /* Moon glow: */
    filter: drop-shadow(1px 1px 0 rgb(244, 245, 193, 0.5)) drop-shadow(-1px -1px 0 rgb(145, 145, 132, 0.5)) drop-shadow(0 0 25px rgba(255, 255, 255, 0.9)); 
    animation: glow 6s infinite ease-in-out;
}

/* 
 .logo-img {
  /* Сепия */
/*filter: sepia(7);
}   */

/* .logo-img { 
  /* Комбинированный эффект: сепия + затемнение */
/* filter: sepia(0.8) brightness(0.9);
} */

/* @keyframes glow {
    0% {
        filter: drop-shadow(0px 0px 10px rgba(255, 254, 208, 0.5));
    }

    50% {
        filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.8));
    }

    100% {
        filter: drop-shadow(0px 0px 10px rgba(255, 254, 208, 0.5));
    }
} */

/* MY TODO: find rounded font for logo */
.logo-text {
    display: inline-block;
    /* height: 24px;  */
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 42px;
    /* border: 1px solid green; */
    color: #ffffff;
    font-size: 32px;
    line-height: 32px;
    font-weight: 800;
    letter-spacing: 4px;
    vertical-align: middle;
    font-family: "Source Code Pro", monospace;
    /* font-family: "Silkscreen", sans-serif;  */
    /* font-family: "Press Start 2P", system-ui;   */
    /* font-family: "IBM Plex Mono", monospace; */
}

/*---------------------------------------------------------------*/
/* menu*/
.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 36px;

    height: 60px;
    width: 348px;
    /* padding-top: 13px;
    padding-right: 34px; */
    /* border: 1px solid yellow; */
}

.menu-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 34px;
    height: 34px;
    /* padding-left: 10px;
    padding-right: 10px; */
    border: 1px solid #16122F;
    /* border: none; */

    border-radius: 34px;
    background-color: #16122F;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
}

.menu-button:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 34px;
    height: 34px;
    /* padding-left: 10px;
    padding-right: 10px; */
    border: none;

    border-radius: 34px;
    /* MY TODO: create hover colors for all buttons: */
    background-color: #5e549e;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

.menu-button img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;
}

.login {
    width: 60px;
    height: 60px;
    /* border: 1px solid blue; */
    /* margin-right: 50px; */
}

.login-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    /* padding-left: 10px;
    padding-right: 10px; */
    border: 1px solid #16122F;
    /* border: none; */

    border-radius: 60px;
    background-color: #16122F;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
}

/* MY TODO: fix stroke offset when hovering */
.login-button:hover {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 60px;
    height: 60px;
    border: 12px solid rgb(226, 85, 45);

    border-radius: 60px;
    box-shadow: -1px 1px 36px 8px rgba(94, 84, 158, 0.51);
    -webkit-box-shadow: -1px 1px 36px 8px rgba(94, 84, 158, 0.51);
    -moz-box-shadow: -1px 1px 36px 8px rgba(94, 84, 158, 0.51);
    cursor: pointer;
}

/* end of header */
/*---------------------------------------------------------------*/

main {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 4898px;
    /* border: 1px solid magenta; */
    background-color: #343148;
    /* background-color: rgba(192, 191, 196, 0.3); */
}

/* MY TODO: reduce the footer height in sketches and layout */
footer {
    z-index: 2;
    position: relative;
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 380px;
    /* border: 1px solid blue; */
    background-color: #343148;
    /* background-color: rgba(192, 191, 196, 0.3); */
    /* background-image: url("../img/auth_background_2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
}

footer:after {
    z-index: 3;
    content: " ";
    display: block;
    opacity: 0.5;
    background-color: #16122F;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.notification {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #FF6F3A;
    visibility: hidden;
}

.vertical-puzzle {
    display: flex;
    flex-direction: row;
}

.vertical-menu {
    display: flex;
    width: 222px;
    height: 5278px;
    background-color: #16122F;
    border-top-right-radius: 20px;
}

.main-of-the-main {
    display: flex;
    width: 1698px;
    height: 4898px;
    /* background-color: #19f024; */
    background-color: rgba(192, 191, 196, 0.3);
}

.horizontal-puzzle {
    display: flex;
    flex-direction: column;
}

.b1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-shrink: 0;
    width: 1698px;
    height: 958px;
    border: 1px solid green;
    background-color: #343148;
}

.horizontal-menu {
    display: flex;
    flex-shrink: 0;
    width: 1698px;
    height: 40px;
    border: 1px solid pink;
    margin-left: 30px;
    margin-bottom: 60px;
    background-color: #16122F;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.main-banner {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
    flex-shrink: 0;
    width: 1698px;
    height: 600px;
    border: 1px solid lime;
    /* background-color: #343148; */
}

.screen {
    display: flex;
    flex-shrink: 0;
    width: 1138px;
    height: 574px;
    margin-top: 0;
    margin-left: 36px;
    background-color: #16122F;
    border-radius: 20px;
    /* padding: 12px; */
}

iframe{
    display: flex;
    flex-shrink: 0;
    width: 1138px;
    height: 574px;
    margin-top: 0;
    background-color: #16122F;
    border-radius: 20px;
}

.promo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-shrink: 0;
    width: 428px;
    height: 570px;
    margin-right: 50px;
    background-color: #343148;
    /* background-color: #3216e9; */
    border-radius: 5px;
}

.promo1 {
    display: flex;
    flex-shrink: 0;
    width: 428px;
    height: 110px;
    border-radius: 5px;
    background-color: #292640;
}

.promo2 {
    display: flex;
    flex-shrink: 0;
    width: 428px;
    height: 110px;
    border-radius: 5px;
    background-color: #292640;
}

.promo3 {
    display: flex;
    flex-shrink: 0;
    width: 428px;
    height: 110px;
    border-radius: 5px;
    background-color: #292640;
}

.promo4 {
    display: flex;
    flex-shrink: 0;
    width: 428px;
    height: 110px;
    border-radius: 5px;
    background-color: #292640;
}

.promo5 {
    display: flex;
    flex-shrink: 0;
    width: 428px;
    height: 110px;
    border-radius: 5px;
    background-color: #292640;
}

.horizontal-titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1623px;
    height: 60px;
    margin-left: 30px;
    margin-right: 50px;
    border: 1px solid orange;
    /* background-color: #865a60; */
}

.favor-ch-name {
    display: flex;
    flex-shrink: 0;
    width: 169px;
    height: 60px;
    border: 1px solid orange;
    /* background-color: #b84d1c; */
}

.show-all {
    display: flex;
    flex-shrink: 0;
    width: 98px;
    height: 60px;
    border: 1px solid orange;
    /* background-color: #b84d1c; */
}

.horizontal-channels {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 16.5px;
    flex-shrink: 0;
    width: 1623px;
    height: 200px;
    border: 1px solid rgb(0, 136, 106);
    margin-left: 30px;
    margin-right: 50px;
    background-color: #343148;
    /* background-color: #0a8657; */
    border-radius: 5px;
}

.favor-category {
    display: flex;
    flex-shrink: 0;
    width: 148px;
    height: 148px;
    background-color: rgba(22, 18, 47, 0.7);
    border-radius: 5px;
}

.favor-channels {
    display: flex;
    flex-shrink: 0;
    width: 310px;
    height: 148px;
    background-color: rgba(22, 18, 47, 0.8);
    border-radius: 5px;
}

.b2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    width: 1698px;
    height: 3940px;
    border: 1px solid green;
    /* background-color: #a03285; */
    background-color: #343148;
}

.horizontal-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 400px;
    height: 85px;
    margin-left: 30px;
    border: 1px solid orange;
    /* background-color: #865a60; */
}

.section1,
.section2,
.section3,
.section4,
.section5,
.section6,
.section7,
.section8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1632px;
    height: 460px;
    margin-left: 16px;
    margin-right: 50px;
    border: 1px solid rgb(133, 33, 33);
    /* background-color: #865a60; */
    background-color: #363636;
}

.title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1632px;
    height: 94px;
    border: 1px solid rgb(255, 255, 255);
    /* background-color: #865a60; */
    background-color: #363636;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 400px;
    height: 94px;
    border: 1px solid rgb(255, 255, 255);
    /* background-color: #865a60; */
    background-color: #363636;
}

.show-all-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    flex-shrink: 0;
    width: 140px;
    height: 94px;
    border: 1px solid rgb(255, 255, 255);
    /* background-color: #865a60; */
    background-color: #363636;
}

.section-chanels {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1612px;
    height: 300px;
    margin-right: 10px;
    border: 1px solid rgb(255, 255, 255);
    /* background-color: #865a60; */
    background-color: #241f1f;
}

.show-all-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1636px;
    height: 62px;
    border: 1px solid rgb(255, 255, 255);
    /* background-color: #865a60; */
    background-color: #241f1f;
}

.show-all-button-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 1632px;
    height: 174px;
    margin-left: 16px;
    margin-right: 50px;
    border: 1px solid rgb(133, 33, 33);
    /* background-color: #865a60; */
    background-color: #343148;
}

.show-all-button{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; */
    width: 222px;
    height: 34px;
    border: none;
    background-color: #FF6F3A;
    border-radius: 20px;
    color: white;
}

