html,
body {
    height: 100%;
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("../img/404_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Silkscreen", sans-serif;
    /* font-family: "Press Start 2P", system-ui;*/
    font-weight: 400;
    font-style: normal;
    text-align: left;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid lime; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1245px;
    height: 626px;
    margin: 0 auto;
    margin-bottom: 100px;
    /* border: 1px solid red; */
    background-color: transparent;
}

.container::before {
    position: absolute;
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(22, 18, 47, 0.8);
}

.error-message {
    display: flex;
    color: #E2552D;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    // /* font-family: "Press Start 2P", system-ui;
    // font-weight: 400;
    // font-style: normal;
}

.numbers {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-shrink: 0;
    width: 100%;
    height: 626px;
    // border: 1px solid rgb(47, 202, 26);
}

.four {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    width: 300px;
    height: 626px;
    // border: 1px solid blue;
}

.zero {
    position: absolute;
    top: 0px;
    left: 472.5px;
    display: flex;
    width: 300px;
    height: 626px;
    /* border: 1px solid blue; */
}

.fourAgain {
    position: absolute;
    top: 0px;
    left: 945px;
    display: flex;
    width: 300px;
    height: 626px;
    /* border: 1px solid blue; */
}

#page1 {
    position: absolute;
    top: 40px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#page2 {
    position: absolute;
    top: 94px;
    left: 140px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#page3 {
    position: absolute;
    top: 185px;
    left: 50px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#page4 {
    position: absolute;
    top: 280px;
    left: 0px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#page5 {
    position: absolute;
    top: 280px;
    left: 120px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#page6 {
    position: absolute;
    top: 160px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#page7 {
    position: absolute;
    top: 280px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#page8 {
    position: absolute;
    top: 400px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#page9 {
    position: absolute;
    top: 520px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#page10 {
    position: absolute;
    top: 527px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero1 {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero2 {
    position: absolute;
    top: 160px;
    left: 0px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero3 {
    position: absolute;
    top: 280px;
    left: 0px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero4 {
    position: absolute;
    top: 400px;
    left: 0px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero5 {
    position: absolute;
    top: 520px;
    left: 0px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero6 {
    position: absolute;
    top: 520px;
    left: 120px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero7 {
    position: absolute;
    top: 520px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero8 {
    position: absolute;
    top: 400px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero9 {
    position: absolute;
    top: 280px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero10 {
    position: absolute;
    top: 160px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero11 {
    position: absolute;
    top: 40px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#zero12 {
    position: absolute;
    top: 40px;
    left: 120px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
    transform: rotate(45deg); 
}

#four1 {
    position: absolute;
    top: 40px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#four2 {
    position: absolute;
    top: 94px;
    left: 140px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#four3 {
    position: absolute;
    top: 185px;
    left: 60px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#four4 {
    position: absolute;
    top: 280px;
    left: 0px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#four5 {
    position: absolute;
    top: 280px;
    left: 120px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#four6 {
    position: absolute;
    top: 160px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#four7 {
    position: absolute;
    top: 280px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#four8 {
    position: absolute;
    top: 400px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#four9 {
    position: absolute;
    top: 520px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

#four10 {
    position: absolute;
    top: 527px;
    left: 240px;
    width: 60px;
    height: 60px;
    border: 4px solid #E2552D;
}

.emoji {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    flex-shrink: 0;
    width: 100%;
    height: 626px;
    // border: 1px solid rgb(255, 0, 212);
    visibility: hidden;
}

.error-text {
    margin-bottom: 24px;
    white-space: pre-wrap;
    color: var(--color-accent-light, #FF6F3A);
    visibility: hidden;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
center {
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.error-emoji {
    font-size: 200px;
    line-height: 1.25;
    margin-bottom: 24px;
    color: var(--color-accent-light, #FF6F3A);
    vertical-align: baseline;
    visibility: hidden;
    transition: visibility 0.3s ease;
    opacity: 0;
}

@media screen and (max-width:1280px) {
    .numbers {
        display: none;
    }
    .error-emoji {
        font-size: 100px;
        visibility: visible;
        opacity: 1;
    }
    .error-text {
        visibility: visible;
        opacity: 1;
    }
    .emoji {
        visibility: visible;
        opacity: 1;
    }
}