
$font-open-sans-sass: "Open Sans", sans-serif;
$font-source-code-sass: "Source Code Pro", monospace;
$font-silkscreen-sass: "Silkscreen", sans-serif;
$font-press-start-sass: "Press Start 2P", system-ui;
$font-ibm-plex-sass: "IBM Plex Mono", monospace;

$color-white-sass: #ffffff;
$color-grey-sass: #899d9d;
$color-background-sass: #343148;
$color-background-shade-sass: #0b1919;
$color-green-text-sass: #506829;
$color-primary-green-sass: #bae249;
$color-green-active-click-sass: #688b05;
$color-green-focus-sass: #83a440;
$color-green-hover-sass: #91ac46;
$color-red-sass: #e24949;

$transition-sass: all 0.2s linear;