
$font-open-sans-sass: "Open Sans", sans-serif;
$font-source-code-sass: "Source Code Pro", monospace;
$font-silkscreen-sass: "Silkscreen", sans-serif;
$font-press-start-sass: "Press Start 2P", system-ui;
$font-ibm-plex-sass: "IBM Plex Mono", monospace;

$transition-sass: all 0.2s linear;

/* For dark theme: */
$color-background-light-sass: #343148;
$color-background-dark-sass: #16122F;

$color-background-accent-sass: #000000;

$color-accent-light-sass: #FF6F3A;
$color-accent-dark-sass: #E2552D;

$color-font-white-light-sass: #FFFFFF;
$color-font-white-dark-sass: #FDFDFF;

$color-font-gray-light-sass: #CECED6;
$color-font-gray-dark-sass: rgba(170,168,181,0.7);

/* MY TODO: add variables for hover and other: */
// $color-green-active-click-sass: #688b05;
// $color-green-focus-sass: #83a440;
$color-dark-buttons-hover-sass: rgba(17, 9, 80, 0.5);






/* MY TODO: add variables for light theme: */