@use 'main.scss';
@use 'layout/footer';
@use 'components/banner';
@use 'components/favourite-channels';
@use 'components/favourite-categories';

.all-categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    width: calc(100vw - 222px);
    height: fit-content;
}

.arrow-back {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    max-width: fit-content;
    margin-left: 50px;
    margin-right: 50px;
}

.arrow-back a {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-bottom: 24px;
    font-size: 16px;
    font-weight: 400;
    color: var(--theme-accent-bg, #FF6F3A);
}

.arrow-back a:hover {
    color: var(--theme-accent-hover, #E2552D) !important;
}

.arrow-back-svg {
    margin-top: 6px;
}

.categories-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    width: calc(100vw - 222px);
    height: fit-content;
    margin-left: 50px;
    margin-right: 50px;
    background-color: transparent;
}

.categories-titles-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 1;
    width: calc(100vw - 355px);
    padding-bottom: 20px;
    margin-right: 5px;
    background-color: transparent;

    @media (max-width: 1366px) {
        width: calc(100vw - 290px);
    }
}

/* как вариант - @media рядом с блоком стилей: */
// @media (max-width: 1366px) {
//     .categories-titles-row {
//         width: calc(100vw - 290px);
//     }
// }

.categories-section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    width: fit-content;
    background-color: transparent;
}

.categories-section-title svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}

.categories-section-title svg:hover {
    transform: scale(1.1);
}

.categories-section-title h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 8px;
    font-size: 26px;
    font-weight: bold;
    color: var(--theme-accent-bg, #FF6F3A);
}

.categories-section-title h2:hover {
    color: var(--theme-accent-hover, #E2552D);
}

.categories-section-title img:hover {
    color: var(--theme-font-primary, #FFFFFF);
}

.sorting-text {
    color: var(--theme-accent-bg, #FF6F3A);
    font-weight: 500;
    padding-right: 6px;
    white-space: nowrap;
}

.sorting-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-shrink: 0;
    width: fit-content;
    padding-top: 5px;
    margin-left: 20px;
    margin-right: 5px;

    @media (min-width: 1366px) {
        gap: 5px;
    }
}

/* как вариант - @media рядом с блоком стилей: */
// @media (min-width: 1366px) {
//     .sorting-buttons {
//         gap: 5px;
//     }
// }

.sorting-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    /* расстояние между иконкой и текстом */

    width: fit-content;
    height: 34px;
    padding: 10px 16px;
    border-radius: 40px;
    border: none;
    background-color: var(--theme-tag-button-bg, rgba(170, 168, 181, 0.7));
    color: var(--theme-font-primary, #FFFFFF);
    font-size: 16px;
    line-height: 140%;
    margin-left: 10px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;

    @media (max-width: 1366px) {
        padding: 10px 10px;
        /* кнопка - компактнее */
        gap: 0;
        /* убран отступ, так как текста нет */
    }
}

/* как вариант - @media рядом с блоком стилей: */
// @media (max-width: 1366px) {
//     .sorting-btn {
//         padding: 10px 10px;
//         /* кнопка - компактнее */
//         gap: 0;
//         /* убран отступ, так как текста нет */
//     }
// }

.sorting-btn:hover {
    color: var(--theme-font-primary, #FFFFFF);
    background-color: var(--theme-btns-hover, rgba(17, 9, 80, 0.5));
}

.sorting-btn:active {
    color: var(--theme-font-primary, #FFFFFF);
    background-color: var(--theme-active-btn-bg, #000000);
}

.btn-text {
    color: var(--theme-font-primary, #FFFFFF);
    font-weight: 500;
    padding-right: 6px;
    padding-bottom: 4px;
    white-space: nowrap;

    @media (max-width: 1366px) {
        display: none;
    }
}

/* как вариант - @media рядом с блоком стилей: */
// @media (max-width: 1366px) {
//     .btn-text {
//         display: none;
//     }
// }

.sorting-svg {
    flex-shrink: 0;
    // width: 18px; /* размеры иконок разные - поэтому height и width - инлайновые */
    // height: 18px;
    margin-bottom: 2px;
    color: var(--theme-font-primary, #FFFFFF);
    text-align: center;
    vertical-align: middle;
}

#react-category-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 30px;
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 30px;
    background-color: transparent;
}

/* one category-card: */
.category-card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 260px;
    background-color: var(--theme-promo-bg, #292640);
    border-radius: 5px;
    padding: 9px 6px 6px 6px;
}

.category-link-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    color: inherit;
}

.category-link-wrapper:focus {
    outline: 1px solid var(--theme-font-primary, #FFFFFF);
    outline-offset: 1px;
    border-radius: 5px;
}

.category-img-top {
    width: 174px;
    height: 174px;
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 6px;
}

.category-img-top:hover {
    cursor: pointer;
}

.card-body {
    padding: 0;
}

.category-info-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 186px;
    height: 48px;
    padding-left: 6px;
    margin: 0;
    color: var(--theme-font-tertiary, rgba(170, 168, 181, 0.7));
}

.channel-title {
    margin: 0;
    margin-top: auto;
    font-size: 14px;
}

.category-name-info {
    font-size: 16px;
    font-weight: bold;
    color: var(--theme-font-secondary, #CECED6);
    padding-left: 2px;
    margin: 10px 0 6px;
}

.category-name-info:hover {
    color: var(--theme-accent-hover, #E2552D);
}

.tags-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    max-width: 186px;
    padding-left: 2px;
    padding-right: 2px;
}

.tags-row button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 68px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 4px 8px;
    color: black;
    font-size: 12px;
    text-align: center;
}

.button-tag {
    background-color: var(--theme-tag-button-bg, rgba(170, 168, 181, 0.7));
}

.button-tag:hover {
    background-color: var(--theme-tag-button-bg-hover, #CECED6);
}

/* end of the one category-card */

/* category-labels: */
.category-labels {
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 6px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    height: 180px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

.category-live {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    background-color: rgba(52, 49, 72, 0.6);
    color: #CECED6;
}

.category-live h6 {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: baseline;
    color: #CECED6;
    font-size: 12px;
    margin: auto;
}

.category-live span {
    color: #E2552D;
    font-size: 6px;
    vertical-align: center;
    margin-right: 6px;
}

.viewers-count {
    color: var(--theme-font-secondary, #CECED6);
    font-size: 20px;
}

#viewers {
    letter-spacing: 10%;
    font-size: 12px;
    font-weight: 600;
    color: white;
    font-weight: 400;
}

.stream-age-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(52, 49, 72, 0.6);
    color: #CECED6;
    font-size: 12px;
}

.label-age-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #CECED6;
    font-size: 12px;
    text-align: center;
}

/* styles of wrapper links: */
a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.link-wrapper {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
}

.link-wrapper:focus {
    outline: 1px solid var(--theme-font-primary, #FFFFFF);
    //outline: none;
    outline-offset: 1px;
    border-radius: 5px;
}

/* end of the stream-labels */

.show-all-button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 174px;
    width: calc(100vw - 222px);
    margin-bottom: 90px;
}

.show-all-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: fit-content;
    height: 34px;
    margin-top: 60px;
    margin-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    background-color: #FF6F3A;
    border-radius: 34px;
    color: white;
}

.show-all-button:hover {
    background-color: var(--theme-accent-hover, #E2552D);
}

/* как вариант - все @media в конце: */
// @media (max-width: 1366px) {

//     .categories-titles-row {
//         width: calc(100vw - 290px);
//     }

//     .btn-text {
//         display: none;
//     }

//     .sorting-btn {
//         padding: 10px 10px;
//         /* кнопка - компактнее */
//         gap: 0;
//         /* убран отступ, так как текста нет */
//     }
// }

// @media (min-width: 1366px) {
//     .sorting-buttons {
//         gap: 5px;
//     }
// }