@use 'main.scss';
@import 'layout/header';
@import 'components/stream';
@import 'components/channel_all_video';
@import 'components/channel_categories';
@import 'components/channel_favourite_clips';
@import 'components/channel_favourite_video';


.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-shrink: 0;
    height: 122px;
}

#site-logo {
    filter: grayscale(50%) opacity(0.8) brightness(90%);
}

#logo-text {
    filter: grayscale(50%) opacity(0.8) brightness(90%);
}

main {
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    // max-width: 1920px;
    // overflow-y: auto;
}

footer {
    flex-shrink: 0;
    height: 222px;
}

.vertical-blocks {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-of-the-main {
    display: flex;
    // width: 100%;
    // max-width: 1698px;
    width: calc(100vw - 222px);
    // height: 4898px;
    /* background-color: #19f024; */
    // background-color: rgba(192, 191, 196, 0.3);
}

.horizontal-blocks {
    display: flex;
    flex-direction: column;
    // height: fit-content;
}

.main-screen-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 222px);
    // width: 100%;
    // max-width: 1698px;
    // height: 958px;
    // border: 1px solid green;
}

.channel-discription {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    //  width: 100%;
    width: calc(100vw - 222px);
    // min-height: 720px;
    min-height: fit-content;
    // border: 1px solid green;
    background: var(--theme-button-scroll-bg, #54506B);
    background: rgba(84, 80, 107, 0.5);
    background-image: url("../img/channel-background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.channel-discription::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: var(--theme-btns-hover, rgba(17, 9, 80, 0.5));
  background-color: rgba(7, 0, 37, 0.5);
  z-index: 1;
}

/* channel-horizontal-menu: */
.channel-horizontal-menu {
    position: relative;
    z-index: 5;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    /* width: 100%; */
    width: calc(100vw - 252px);
    height: 40px;
    /* border: 1px solid pink; */
    margin-top: 16px;
    margin-left: 30px;
    margin-bottom: 16px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.channel-horizontal-menu span {
    position: relative;
    z-index: 5;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #CECED6;
    padding-left: 275px;
}

.channel-menu {
    max-width: 1698px;
    color: var(--theme-font-primary, #FFFFFF);
    display: inline-block;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* border: 1px solid magenta; */
}

.channel-menu ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    /* border: 1px solid rgb(194, 104, 31); */
}

.channel-menu li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 138px;
    height: 40px;
    border: none;
    border-radius: 30px;
    background-color: var(--theme-btn-bg, #16122F);
    color: var(--theme-font-primary, #FFFFFF);
}

.channel-menu li:hover {
    background-color: var(--theme-btns-hover, rgba(17, 9, 80, 0.5));
    color: var(--theme-font-secondary, #CECED6);
}

.channel-menu li:first-child {
    border: none;
    // font-weight: bold;
    background-color: var(----theme-accent-bg, #FF6F3A);
}

.channel-menu li:first-child:hover {
    // transform: scale(1.05);
    background-color: var(--theme-accent-hover, #E2552D);
}

.channel-menu a {
    color: var(--theme-font-primary, #FFFFFF);
    display: block; // to make the link take up the entire li area 
    transition: color 0.3s ease;
}

.channel-menu li:hover a {
    color: var(--theme-font-secondary, #CECED6);
}

.channel-menu-first-button {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    width: 138px;
    height: 40px;
}

/* end of the channel-horizontal-menu */

.about {
    z-index: 11;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: var(--theme-button-scroll-bg, #54506B);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 1280px;
    min-height: 200px;
    margin-left: 24px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 24px;
    color: var(--theme-font-primary, #FFFFFF);
}

.info-about {
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.info-links {
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.info-blocks-row {
    z-index: 11;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    background-color: transparent;
    width: 1280px;
    // min-height: 400px;
    min-height: fit-content;
    margin-left: 24px;
    // padding-left: 32px;
    // padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 26px;
    color: var(--theme-font-primary, #FFFFFF);
    // border: 1px solid red;
}

.channel-info-block {
    z-index: 11;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    width: 420px;
    // height: 600px;
    height: fit-content;
    min-height: 870px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 16px;
    // border: 1px solid red;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--theme-button-scroll-bg, #54506B);
}

.channel-info-block img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 300px;
    border-radius: 6px;
    // padding-left: 60px;
    // padding-right: 60px;
}

.channel-info-block h3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    color: var(----theme-accent-bg, #FF6F3A);
    font-size: 20px;
    font-weight: bold;
}

.channel-info-block p {
    padding-left: 20px;
    padding-right: 20px;
    color: var(--theme-font-secondary, #CECED6);
    font-size: 16px;
}

/* Notification block: */
.notification {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 60px;
    background-color: var(----theme-accent-bg, #FF6F3A);
    visibility: hidden;
}

.notification-moon-logo-1 {
    width: 28px;
    height: 28px;
}

.notification-moon-logo-2 {
    width: 38px;
    height: 38px;
}

.notification-moon-logo-3 {
    width: 48px;
    height: 48px;
}

.notification h4 {
    color: var(--theme-font-primary, #FFFFFF);
    font-size: 16px;
    letter-spacing: 0.5;
    font-weight: 400;
}

.notification button {
    width: 176px;
    height: 34px;
    border: none;
    background-color: var(--theme-font-primary, #FFFFFF);
    color: var(--theme-accent-hover, #E2552D);
    font-size: 14px;
    letter-spacing: 0.5;
    border-radius: 20px;
    font-weight: 500;
}

.notification .btn-close {
    width: 28px;
    height: 28px;
    color: rgba(52, 49, 72, 0.5);
    box-shadow: 0 3px 5px rgba(0, 151, 211, 0.2);
}

.notification .btn-close:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px 5px rgba(0, 151, 211, 0.2);
}

#myElement {
    border: none;
}

// .hidden {
//   display: none;
// }

.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s;
}