.favoutite-channels-titles {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    width: 1623px;
    margin-left: 30px;
    margin-right: 50px;
    // border: 1px solid orange;
}

.favoutite-channels-title {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: fit-content;
    // height: 60px;
    // border: 1px solid orange;
}

.favoutite-channels-title h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 32px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-accent-light, #FF6F3A);
}

/* show-all-orange-link */
.favoutite-channels-show-all {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 126px;
    // height: 60px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 34px;
    // border: 1px solid orange;
    color: var(--color-accent-light, #FF6F3A);
}

.favoutite-channels-show-all a {
    color: var(--color-accent-light, #FF6F3A) !important;
}

.arrowed a svg {
    transition: var(--transition);
    font-size: 14px;
    line-height: 140%;
    color: var(--color-accent-light, #FF6F3A);
}

.arrowed a:hover svg,
.arrowed a:focus svg {
    width: 51px;
    height: 16px;
    color: var(--color-accent-light, #FF6F3A);
}

.horizontal-titles .show-all-arrow {
    width: 24px;
    height: 24px;
    color: #FF6F3A;
}

/* end of the show-all-orange-link */

.favourite-channels-blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16.5px;
    flex-shrink: 0;
    width: 1623px;
    height: 200px;
    // border: 1px solid rgb(0, 136, 106);
    margin-left: 30px;
    margin-right: 50px;
    background-color: #343148;
    /* background-color: #0a8657; */
    border-radius: 5px;
}

.favorite-category {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 148px;
    height: 148px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 22px;
    // background-color: rgba(22, 18, 47, 0.7);
    background-image: url("../img/Category1_edu.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* channels: */
.favorite-channels {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // gap: 5px;
    flex-shrink: 0;

    /* занимает всё доступное пространство: */
    flex: 1;
    /* скролл при переполнении: */
    // overflow-y: auto;
    width: 310px;
    height: 148px;
    // border: 1px solid lime;
    margin: 0;

    background-color: #16122F;
    border-radius: 5px;
}

.favorite-channels ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 148px;
}

.favorite-channels li {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: white;
    width: 290px;
    height: 40px;
    // margin-top: 12px;
    margin-top: 3px;
    margin-bottom: 3px;
    // border: 1px solid yellow;

    // background-color: var(--color-background-dark, #16122F);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border-top: 1px solid rgb(209, 209, 209); */
    /* border-bottom: 1px solid rgb(209, 209, 209); */
}

.favorite-channels li:hover {
    background-color: #322e4d;
}

.favorite-channels a {
    align-items: center;
    color: white;
    text-decoration: none;
}

.favorite-channels a:hover {
    align-items: center;
    color: white;
    text-decoration: none;
}

.favorite-channels button {
    width: 216px;
    height: 41px;
    margin: 3px 3px auto 3px;
    border: none;
}

/* one channel: */
.favorite-channel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 310px;
    height: 40px;
}

.favorite-channel-ava img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
    margin-left: 36px;
}

.favorite-channel:hover {
    background-color: #322e4d;
}

.stream-live-indicator {
    position: absolute;
    top: -4px;
    left: 70px;
    margin-right: 12px;
}

.favorite-channel-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 220px;
    height: 40px;
    // border: 1px solid lime;
}

.favorite-channel-info .favorite-channel-title {
    color: white;
    font-size: 16px;
}

.favorite-channel-info .category-name {
    color: #A4A4AB;
    font-size: 12px;
    font-weight: 100;
}

/* MY TODO: make less space between .favorite-channel-title and .category-name */