.favourite-categories {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    //  width: 100%;
    width: calc(100vw - 222px);
    max-height: 3940px;
    // border: 1px solid green;
}

.favourite-categories-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 100%;
    //max-width: 1620px;
    max-width: fit-content;
    margin-left: 30px;
    margin-right: 50px;
    //border: 1px solid orange;
}

.favourite-categories-title h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 44px;
    padding-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
    color: var(--color-accent-light, #FF6F3A);
}

/* section row: */
/* MY TODO: add more space between the favourite-category-containers MAYBE*/
.favourite-category-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    width: calc(100vw - 222px);
    // width: 1632px;
    //height: 460px;
    height: fit-content;
    margin-left: 16px;
    margin-right: 50px;
    //border: 1px solid rgb(63, 223, 48);
    background-color: transparent;
}

.titles-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-shrink: 0;
    flex-grow: 1;
    width: 1632px;
    margin-bottom: 16px;
    // border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    flex-grow: 1;
    width: fit-content;
    //border: 1px solid rgb(190, 17, 17);
    background-color: transparent;
}

.section-title h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 6px;
    font-size: 20px;
    font-weight: bold;
    color: var(--color-font-gray-light, #CECED6);
    //border: 1px solid rgb(12, 231, 220);
}

/* show-all-gray-link */
.show-all-categories {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    max-width: fit-content;
    padding-top: 6px;
    color: var(--color-font-gray-light, #CECED6);
    //border: 1px solid rgb(12, 231, 220);
}

.show-all-categories a {
    color: var(--color-font-gray-light, #CECED6) !important;
}

.arrowed a svg {
    transition: var(--transition);
    font-size: 14px;
    line-height: 140%;
    color: var(--color-font-gray-light, #CECED6);
}

.arrowed a:hover svg,
.arrowed a:focus svg {
    width: 51px;
    height: 16px;
    color: var(--color-font-gray-light, #CECED6);
}

.show-all-categories .show-all-arrow {
    width: 24px;
    height: 24px;
    margin-top: 6px;
    margin-left: 6px;
    align-items: baseline;
    color: var(--color-font-gray-light, #CECED6);
}

/* end of the show-all-orange-link */


/* channels-row:*/
.channels-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    gap: 20px;
    width: 100%;
    //max-width: 1612px;
    // max-width: 1630px;
    height: 300px;

    /* в макете есть, но не помню зачем, на вид - не нужный отступ:*/
    // margin-right: 10px;
    padding: 0;
    //border: 1px solid rgb(197, 10, 214);
    background-color: transparent;
}

/* end of the channels-row */

/* one channel-card: */
.channel-card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    max-width: 310px;
    background-color: transparent;
    // height: 300px;
}

.card-img-top {
    max-width: 100%;
    height: 180px;
    // изображение отображено с сохранением пропорций:
    object-fit: contain;
    border-radius: 5px;
    margin-bottom: 9px;
    // cursor: pointer;
}

.card-body {
    // закрепить кнопку с описанием внизу карточки:
    // position: sticky;
    // bottom: 2px;
    // left: 100%;
    // отрицательное значение перемещает элемент влево, положительное - вправо:
    // transform: translatex(2px);
    // cursor: pointer;
    padding: 0;
}

.stream-info-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    // width: 100%;
    width: 310px;
    height: 48px;
    padding: 0;
    margin: 0;
}

.channel-img {
    width: 40px;
    height: 40px;
    margin: 0 10px 0 2px;
    padding: 0;
}

.stream-titles h5 {
    font-size: 14px;
    font-weight: bold;
    color: var(--color-font-gray-light, #CECED6);
    padding: 0;
    margin: 0;
}

.stream-titles p {
    font-size: 14px;
    font-weight: lighter;
    color: var(--color-font-gray-light, #CECED6);
    padding: 0;
    margin: 0;
}

.category-name-info {
    font-size: 14px;
    font-weight: lighter;
    color: var(--color-font-gray-light, #CECED6);
    padding-left: 2px;
    margin: 0 0 14px 0;
}

.tags-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: 100%;
    max-width: 310px;
    // height: 20px;
    padding-left: 2px;
    margin-bottom: 2px;
    //border: 1px solid rgb(29, 10, 197);
}

.tags-row button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20px;
    min-width: 68px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 4px 8px 4px 8px;
    color: black;
    font-size: 12px;
    text-align: center;
}

.button-tag {
    background-color: #D9D9D9;
    //border: 1px solid rgb(175, 36, 202);
}

/* end of the one channel-card */


.show-all-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    max-width: 1636px;
    height: 62px;
    // border: 1px solid rgb(184, 2, 2);
    background-color: transparent;
    color: var(--color-font-gray-light, #CECED6);
}

.show-all-link .show-all-arrow {
    width: 24px;
    height: 24px;
    margin-top: 6px;
    margin-left: 0;
    align-items: baseline;
    color: var(--color-font-gray-light, #CECED6);
}

.divider-container {
    display: flex;
    /* Выравнивает по вертикали: */
    align-items: center;
    /* Распределяет элементы с равными отступами: */
    justify-content: space-between;
    width: 100%;
    // border: 1px solid red;
    margin-bottom: 22px;
}

.divider-line {
    /* Занимает всё доступное пространство: */
    flex: 1;
    /* Занимает всё доступное пространство */
    height: 1px;
    background: var(--color-font-gray-light, #CECED6);
    border-radius: 1px;
}

.divider-button {
    /* Отступы по бокам от кнопки: */
    margin: 0 15px;
    /* Отступы по бокам от кнопки */
    padding: 10px 6px 10px 10px;
    background: transparent;
    color: var(--color-font-gray-light, #CECED6);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* end of the section row: */

/* MY TODO: add more space around the show-all-button: */
/*-------------------------------------------------------------*/
.show-all-button-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    height: 174px;
    width: calc(100vw - 222px);
    // max-width: 1698px;
}

.show-all-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: fit-content;
    height: 34px;
    margin-top: 60px;
    margin-bottom: 80px;
    padding-left: 16px;
    padding-right: 16px;
    border: none;
    background-color: #FF6F3A;
    border-radius: 34px;
    color: white;
}

/*-------------------------------------------------------------*/

/* stream-labels: */
.stream-labels {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: auto;
    height: 180px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    //border: 1px solid yellow;
}

.stream-live {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: 22px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 5px;
    //border: 1px solid red; 
    background-color: rgba(52, 49, 72, 0.6);
    color: #CECED6;
}

.stream-live h6 {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* Выравнивание h5 внутри flex: */
    align-items: baseline;
    justify-content: baseline;
    /* border: 1px solid rgb(28, 198, 204); */
    color: #CECED6;
    font-size: 12px;
    margin: auto;
}

.stream-live span {
    color: #E2552D;
    font-size: 6px;
    vertical-align: center;
    margin-right: 6px;
}

.stream-age-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    /* border: 1px solid lime; */
    background-color: rgba(52, 49, 72, 0.6);
    color: #CECED6;
    font-size: 12px;
}

.label-age-rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #CECED6;
    font-size: 12px;
    // border: 1px solid blue;
    text-align: center;
}

/* стили ссылок-обёрток: */
a {
    text-decoration: none;
    /* Убирает подчёркивание */
    color: inherit;
    /* Наследует цвет текста */
    display: block;
    /* Занимает всю ширину, как div */
}

.link-wrapper {
    text-decoration: none;
    color: inherit;
    display: block;
    cursor: pointer;
    outline: none;
    margin: 0;
    padding: 0;
}

.link-wrapper:focus {
    outline: 1px solid var(--color-font-white-light, #FFFFFF);
    /* Кастомный фокус */
    //outline: none;
    outline-offset: 2px;
    border-radius: 5px;
}

/* не понятно, не видно эффект: */
// .link-wrapper:focus-visible {
//   outline: 2px dashed orange;
//   outline-offset: 3px;
// }

/* end of the stream-labels */