// Connecting fonts via googlefont.com and @import 
// @import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400..800&display=swap" rel="stylesheet');


/* Font for logo: */
/* Connecting fonts by downloading */
@font-face {
  font-family: 'BalooChettan2';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  font-optical-sizing: auto;
  src:local('BalooChettan2');
  src: url("../fonts/BalooChettan2-VariableFont_wght.woff2"), 
    url("../fonts/BalooChettan2-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/BalooChettan2-VariableFont_wght.otf"),
    url("../fonts/BalooChettan2-VariableFont_wght.eot"),
    url("../fonts/BalooChettan2-VariableFont_wght.woff") format("woff"),
    url("../fonts/BalooChettan2-VariableFont_wght.svg");
}

@font-face {
  font-family: 'BalooChettan2';
  font-weight: normal;
  font-weight: 800;
  font-style: bold;
  font-display: swap;
  font-optical-sizing: auto;
  src: url("../fonts/BalooChettan2-VariableFont_wght.woff2"),
  url("../fonts/BalooChettan2-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/BalooChettan2-VariableFont_wght.otf"),
    url("../fonts/BalooChettan2-VariableFont_wght.eot"),
    url("../fonts/BalooChettan2-VariableFont_wght.woff") format("woff"),
    url("../fonts/BalooChettan2-VariableFont_wght.svg");
}
