/* horizontal menu: */
.horizontal-menu {
    position: relative;
    z-index: 5;
    display: inline-flex;
    flex-direction: row;
    flex-shrink: 0;
    /* width: 100%; */
    width: 1698px;
    height: 40px;
    /* border: 1px solid pink; */
    margin-left: 30px;
    margin-bottom: 60px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.hMenu {
    width: 1698px;
    color: white;
    display: inline-block;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    /* border: 1px solid magenta; */
}

.hMenu ul {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 18px;
    /* border: 1px solid rgb(194, 104, 31); */
}

.hMenu li {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 144px;
    height: 40px;
    border: none;

    border-radius: 30px;

    background-color: #16122F;
    color: white;
}

.hMenu li:hover {
    background: rgba(17, 9, 80, 0.5);
    color: #CECED6;
}

.hMenu li:first-child {
    border: none;
    /* Жирный текст: */
    // font-weight: bold;
}

.hMenu li:first-child a {
    color: white;
}

.hMenu li:first-child:hover {
    /* Лёгкое увеличение: */
    // transform: scale(1.05);
    color: white;
}

.hMenu li:first-of-type {
    color: white;
}

.hMenu a {
    color: white;
    /* Чтобы ссылка занимала всю площадь li: */
    display: block;
    /* Плавный переход цвета: */
    transition: color 0.3s ease;
}

.hMenu li:hover a {
    color: #CECED6;
}


.h-menu-first-button {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: baseline;
    width: 64px !important;
    height: 40px !important;
    background-color: #FF6F3A !important;
}

/* MY TODO: add styles to make white font-color on hover: */
.h-menu-first-button:hover {
    color: white !important;
    background-color: #E2552D !important;
}

.h-menu-scroll {
    position: absolute;
    z-index: 10;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* совпадает с высотой кнопки: */
    line-height: 50px;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 5px;

    background: #54506B;
    color: white;
    border: none;
    text-align: center;

    cursor: pointer;
    z-index: 10;
    /* поверх видео */
    transition: background 0.3s ease;
}

/* MY TODO: align the arrow in the button: */
.h-menu-scroll-arrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    color: white;
    vertical-align: middle;
    text-align: center;
    right: -15px;
}

/* Эффекты при наведении */
.h-menu-scroll:hover {
    background: #16122F;
    border: 1px solid rgba(170, 168, 181, 0.7);
}

/* Скрываем кнопки на мобильных устройствах */
@media (max-width: 768px) {
    .h-menu-scroll {
        display: none;
    }
}

/* end of the horizontal menu */