@import "bootstrap";
@import "./variables";
/* Normalize file add after bootstrap: */
@import "./normalize";
@import "./header.scss";
@import "./horizontal-menu.scss";
@import "./banner.scss";
@import "./vertical-menu.scss";
@import "./favourite-channels.scss";
@import "./favourite-categories.scss";
@import "./footer.scss";

:root {
    // --font-source-code: "Source Code Pro", monospace;
    // --font-silkscreen: "Silkscreen", sans-serif;
    // --font-press-start: "Press Start 2P", system-ui;
    // --font-ibm-plex: "IBM Plex Mono", monospace;

    // --color-background-light: #343148;
    // --color-background-dark: #16122F;
    // --color-background-accent: #000000;

    // --color-background-input: #1C173C;
    // --color-background-promo: #292640;

    // --color-accent-light: #FF6F3A;
    // --color-accent-dark: #E2552D; 
    // --color-font-white-light: #FFFFFF;
    // --color-font-white-dark: #FDFDFF;
    // --color-font-gray-light: #CECED6;
    // --color-font-gray-dark: rgba(170, 168, 181, 0.7);

    // --color-dark-buttons-hover: rgba(17, 9, 80, 0.5);
    // --color-dark-blocks-hover:  #2e2b50;

    // --color-dark-button-scroll-hover: #54506B;
    // --color-dark-transparent-banner-button: rgba(52, 49, 72, 0.2);

    // --font-open-sans: #{$font-open-sans-sass};
    --font-source-code: #{$font-source-code-sass};
    // --font-silkscreen: #{$font-silkscreen-sass};
    // --font-press-start: #{$font-press-start-sass};
    // --font-ibm-plex: #{$font-ibm-plex-sass};

    --color-background-light: #{$color-background-light-sass};
    --color-bbackground-dark: #{$color-background-dark-sass};

    --color-background-accent: #{$color-background-accent-sass};

    --color-background-input: #{$color-background-input-sass};
    --color-background-promo: #{$color-background-promo-sass};
    --color-dark-transparent-banner-button: #{$color-dark-transparent-banner-button-sass};

    --color-accent-light: #{$color-accent-light-sass};
    --color-accent-dark: #{$color-accent-dark-sass};
    --color-font-white-light: #{$color-font-white-light-sass};
    --color-font-white-dark: #{$color-font-white-dark-sass};
    --color-font-gray-light: #{$color-font-gray-light-sass};
    --color-font-gray-dark: #{$color-font-gray-dark-sass};
    --color-dark-button-scroll: #{$color-dark-button-scroll-sass};

    --color-dark-buttons-hover: #{$color-dark-buttons-hover-sass};
    --color-dark-blocks-hover: #{$color-dark-blocks-hover-sass};

}

html,
body {
    // display: flex;
    // flex-direction: column;
    /* Минимальная высота — весь экран: */
    min-height: 100vh;
    // font-family: var(--font-source-code);
    // font-family: $font-source-code;
    /* To hide horizontal scrolling for the entire page: */
    overflow-x: hidden;
    background-color: var(--color-background-light, #343148);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-open-sans);
}

.page {
    display: flex;
    flex-direction: column;
    /* Минимальная высота — весь экран: */
    min-height: 100vh;
}

header {
    /* Запрещает сжиматься: */
    flex-shrink: 0;
    /* Фиксированная высота: */
    height: 122px;
}

main {
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    // max-width: 1920px;
    /* Тест на выпячивание блоков: */
    // overflow-y: auto; /* Вертикальный скролл только внутри main, если нужно */ 
}

footer {
    /* Запрещает сжиматься: */
    flex-shrink: 0;
    /* Фиксированная высота: */
    height: 222px;
}

.vertical-blocks {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-of-the-main {
    display: flex;
    /* MY TODO: узнать как точно указывать ширину, с высотами более-менее понятно: */
    // width: 100%;
    // max-width: 1698px;
    width: calc(100vw - 222px);
    // height: 4898px;
    /* background-color: #19f024; */
    // background-color: rgba(192, 191, 196, 0.3);
}

/* MY TODO: check width and height of main block on full-screen */
.horizontal-blocks {
    display: flex;
    flex-direction: column;
    // height: fit-content;
}

.main-screen-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 222px);
    // width: 100%;
    // max-width: 1698px;
    // height: 958px;
    // border: 1px solid green;
}

/* Notification block: */
/* MY TODO: stylize close button: */
.notification {
    position: fixed;
    /* чтобы блок был поверх других элементов: */
    z-index: 1000;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 60px;
    background-color: var(--color-accent-light, #FF6F3A);
    visibility: hidden;
}

.notification-moon-logo-1 {
    width: 28px;
    height: 28px;
}

.notification-moon-logo-2 {
    width: 38px;
    height: 38px;
}

.notification-moon-logo-3 {
    width: 48px;
    height: 48px;
}

.notification h4 {
    color: var(--color-font-white-light, #ffffff);
    font-size: 16px;
    letter-spacing: 0.5;
    font-weight: 400;
}

.notification button {
    width: 176px;
    height: 34px;
    border: none;
    background-color: var(--color-font-white-dark, #FDFDFF);
    color: var(--color-accent-dark, #E2552D);
    font-size: 14px;
    letter-spacing: 0.5;
    border-radius: 20px;
    font-weight: 500;
}

/* MY TODO: find color for var in btn-close: */
.notification .btn-close {
    width: 28px;
    height: 28px;
    color: rgba(52, 49, 72, 0.5);
    box-shadow: 0 3px 5px rgba(0, 151, 211, 0.2);
}

.notification .btn-close:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px 5px rgba(0, 151, 211, 0.2);
}

/* Скрыть всплывающий блок уведомления на главной странице: */
#myElement {
    border: none;
}

// .hidden {
//   display: none;
// }
.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s;
}