@import "bootstrap";
@import "./variables";
/* Normalize file add after bootstrap: */
@import "./normalize";
@import "./header.scss";
@import "./horizontal-menu.scss";
@import "./banner.scss";
@import "./vertical-menu.scss";
@import "./favourite-channels.scss";
@import "./favourite-categories.scss";
@import "./footer.scss";

:root {
    // --font-source-code: "Source Code Pro", monospace;
    // --font-silkscreen: "Silkscreen", sans-serif;
    // --font-press-start: "Press Start 2P", system-ui;
    // --font-ibm-plex: "IBM Plex Mono", monospace;

    // --color-background-light: #343148;
    // --color-background-dark: #16122F;
    // --color-background-accent: #000000;
    // --color-accent-light: #FF6F3A;
    // --color-accent-dark: #E2552D;
    // --color-font-white-light: #FFFFFF;
    // --color-font-white-dark: #FDFDFF;
    // --color-font-gray-light: #CECED6;
    // --color-font-gray-dark: rgba(170, 168, 181, 0.7);
    // --transition: all 0.2s linear;


    // --font-open-sans: #{$font-open-sans-sass};
    --font-source-code: #{$font-source-code-sass};
    // --font-silkscreen: #{$font-silkscreen-sass};
    // --font-press-start: #{$font-press-start-sass};
    // --font-ibm-plex: #{$font-ibm-plex-sass};
    --transition: #{$transition-sass};

    --color-background-light: #{$color-background-light-sass};
    --color-bbackground-dark: #{$color-background-dark-sass};
    --color-background-accent: #{$color-background-accent-sass};
    --color-accent-light: #{$color-accent-light-sass};
    --color-accent-dark: #{$color-accent-dark-sass};
    --color-font-white-light: #{$color-font-white-light-sass};
    --color-font-white-dark: #{$color-font-white-dark-sass};
    --color-font-gray-light: #{$color-font-gray-light-sass};
    --color-font-gray-dark: #{$color-font-gray-dark-sass};
}

html,
body {
    //  display: flex;
    // align-items: flex-start;
    // justify-content: center;
    // width: 100%;

    height: 100%;
    //max-height: 5400px;
    margin: 0;
    flex-shrink: 0;
    /* background-image: url("../img/auth_background_2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; */
    // font-family: var(--font-source-code);
    // font-family: $font-source-code;
    /* To hide horizontal scrolling for the entire page: */
    // overflow-x: hidden;
}

// h1,
// h2,
// h3,
// h4 {
//     font-family: var(--font-source-code);
// }

a {
    text-decoration: none;
    transition: var(--transition);
}

header {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    // height: 122px;
    /* border: 1px solid rgb(76, 255, 21); */
    // background-color: #343148;
    background-color: var(--color-background-light, #343148);
    /* background-color: rgba(192, 191, 196, 0.3); */
}

main {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    max-width: 1920px;
    // height: 4898px;
    margin: 0 auto;
    /* border: 1px solid magenta; */
    // background-color: #343148;
    background-color: var(--color-background-light, #343148);
    /* background-color: rgba(192, 191, 196, 0.3); */
}

.notification {
    position: absolute;
    z-index: 3;
    bottom: 0;
    width: 100%;
    // height: 60px;
    background-color: #FF6F3A;
    visibility: hidden;
}

.vertical-blocks {
    display: flex;
    flex-direction: row;
    
}

.main-of-the-main {
    display: flex;
    width: 100%;
    max-width: 1698px;

    // height: 4898px;
    /* background-color: #19f024; */
    background-color: rgba(192, 191, 196, 0.3);
}

.horizontal-blocks {
    display: flex;
    flex-direction: column;
}

.main-screen-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    flex-shrink: 0;
    width: 100%;
    max-width: 1698px;
    // height: 958px;
    // border: 1px solid green;
    background-color: #343148;
}

/* MY TODO: add more space around the show-all-button: */
/*-------------------------------------------------------------*/
.show-all-button-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 1632px;
    height: 174px;
    margin-left: 16px;
    margin-right: 50px;
    border: 1px solid rgb(133, 33, 33);
    /* background-color: #865a60; */
    background-color: #343148;
}

.show-all-button {
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-shrink: 0; */
    width: 222px;
    height: 34px;
    margin-bottom: 80px;
    border: none;
    background-color: #FF6F3A;
    border-radius: 20px;
    color: white;
}

/*-------------------------------------------------------------*/