@use 'main.scss';

@use 'layout/footer';
@use 'components/banner';
@use 'components/favourite-channels';
@use 'components/favourite-categories';

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    flex-shrink: 0;
    height: 122px;
}

main {
    flex-shrink: 0;
    flex-grow: 1;
    width: 100%;
    // max-width: 1920px;
    // overflow-y: auto;
}

footer {
    flex-shrink: 0;
    height: 222px;
}

.vertical-blocks {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-of-the-main {
    display: flex;
    // width: 100%;
    // max-width: 1698px;
    width: calc(100vw - 222px);
    // height: 4898px;
    /* background-color: #19f024; */
    // background-color: rgba(192, 191, 196, 0.3);
}

.horizontal-blocks {
    display: flex;
    flex-direction: column;
    // height: fit-content;
}

.main-screen-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: calc(100vw - 222px);
    // width: 100%;
    // max-width: 1698px;
    // height: 958px;
    // border: 1px solid green;
}

/*-------------------------------------------------------------*/
/* search: */

#searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 428px;
    height: 40px;
    height: auto;
    // border: 1px solid green;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 428px;
    height: 40px;
    height: auto;
    // border: 1px solid rgb(23, 91, 170); 
}

.input-with-icon {
    width: 368px;
    height: 40px;
    border: none;
    outline: none;
    margin-right: 20px;
    background-image: url('../img/search-icon-dark.svg');
    background-repeat: no-repeat;
    background-position: 10px center;    // Icon position
    background-size: 24px 24px; // Icon size
    padding-left: 40px; // Space for an icon so that the text doesn't overlap
    border-radius: 40px;
    background-color: var(--theme-input-bg, #1C173C);
    color: var(--theme-font-primary, #FFFFFF);
    font-size: 16px;
    line-height: 140%;
}

.input-with-icon::placeholder {
    color: var(--theme-font-secondary, #CECED6);
}

.input-with-icon:hover {
    background-color: var(--theme-btns-hover, rgba(17, 9, 80, 0.5));
    color: var(--theme-font-primary, #FFFFFF);
}

.notification-round-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.notification-round-button:hover {
    transform: scale(1.1);
}

.button-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

/*-------------------------------------------------------------*/

/* Notification block: */
.notification {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 60px;
    background-color: var(--theme-accent, #FF6F3A);
    // visibility: hidden;
}

.notification-moon-logo-1 {
    width: 28px;
    height: 28px;
}

.notification-moon-logo-2 {
    width: 38px;
    height: 38px;
}

.notification-moon-logo-3 {
    width: 48px;
    height: 48px;
}

.notification h4 {
    color: var(--theme-font-primary, #FFFFFF);
    font-size: 16px;
    letter-spacing: 0.5;
    font-weight: 400;
}

.notification button {
    width: 176px;
    height: 34px;
    border: none;
    background-color: var(--theme-font-primary, #FFFFFF);
    color: var(--theme-accent-hover, #E2552D);
    font-size: 14px;
    letter-spacing: 0.5;
    border-radius: 20px;
    font-weight: 500;
}

.notification .btn-close {
    width: 28px;
    height: 28px;
    color: rgba(52, 49, 72, 0.5);
    box-shadow: 0 3px 5px rgba(0, 151, 211, 0.2);
}

.notification .btn-close:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 3px 5px rgba(0, 151, 211, 0.2);
}

#myElement {
    border: none;
}

// .hidden {
//   display: none;
// }

.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s;
}