@use 'main.scss';
@use 'layout/footer';
@use 'components/banner';
@use 'components/favourite-channels';
@use 'components/favourite-categories';

/* search: */
#searchForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 428px;
    height: 40px;
    height: auto;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    max-width: 428px;
    height: 40px;
    height: auto;
}

.input-with-icon {
    width: 368px;
    height: 40px;
    border: none;
    outline: none;
    margin-right: 20px;
    background-image: var(--theme-search-icon);
    background-repeat: no-repeat;
    background-position: 14px center; // Icon position
    background-size: 24px 24px; // Icon size
    padding-left: 44px; // Space for an icon so that the text doesn't overlap
    border-radius: 40px;
    background-color: var(--theme-input-bg, #1C173C);
    color: var(--theme-font-primary, #FFFFFF);
    font-size: 14px;
    line-height: 140%;
}

.input-with-icon::placeholder {
    color: var(--theme-font-secondary, #CECED6);
    cursor: pointer;
}

.input-with-icon:hover {
    background-color: var(--theme-btns-hover, rgba(17, 9, 80, 0.5));
    color: var(--theme-font-primary, #FFFFFF);
    cursor: pointer;
}

.notification-round-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--theme-accent-bg, #FF6F3A);
}

.notification-round-button:hover {
    transform: scale(1.1);
    background-color: var(--theme-accent-hover, #E2552D);
}

.button-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
}
